@tailwind base;

@layer base {
  h1 {
    @apply text-[32px] font-semibold tracking-wider;
  }
  h2 {
    @apply text-2xl font-semibold tracking-wider;
  }
  h3 {
    @apply text-xl font-semibold tracking-wider;
  }
  h4 {
    @apply text-lg font-medium tracking-wider;
  }
}

@tailwind components;
@tailwind utilities;

button:disabled {
  cursor: not-allowed;
}

button:hover,
a:hover {
  cursor: pointer;
}
